.receitasContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .loading
  {
    color: #666;
    font-weight: bold;
  }

  @media (max-width: 576px)
  {
    .receitasContainer{
      padding: 2em 0.5em;
    }
  }

  @media (min-width: 577px) and (max-width: 767px)
  {
    .receitasContainer{
      padding: 2em 0.5em;
    }
  }

